<plist version="1.0">
<dict>
<key>RunDate</key>
<date>2013-08-11T13:24:51Z</date>
<key>RequiredImages</key>
<array>
<dict>
<key>filename</key>
<string>apple.jpg</string>
<key>url</key>
<string>http://b-i.forbesimg.com/spleverage/files/2013/04/silver-apple-logo-apple-picture.jpg</string>
</dict>
</array>
<key>Title</key>
<string>This Day</string>
<key>Rows</key>
<array>
<dict>
<key>Title</key>
<string>Errands</string>
<key>Children</key>
<array>
<dict>
<key>Title</key>
<string>Food</string>
<key>Children</key>
<array>
<dict>
<key>Title</key>
<string>Groceries</string>
<key>Children</key>
<array>
<dict>
<key>Title</key>
<string>Grocery Store</string>
<key>Children</key>
<array>
<dict>
<key>Title</key>
<string>Lettuce</string>
<key>CheckBox</key>
<true/>
<key>Checked</key>
<false/>
</dict>
<dict>
<key>Title</key>
<string>Apples</string>
<key>CheckBox</key>
<true/>
<key>Checked</key>
<false/>
<key>Image</key>
<string>apple.jpg</string>
</dict>
</array>
</dict>
</array>
</dict>
</array>
</dict>
</array>
</dict>
</array>
</dict>
</plist>
